{% extends "public/base.html" %}

{% load static %}

{% block head %}
    <title>Tạo chồng mới</title>
{% endblock%}

{% block header %}
    {% include "public/header_logout.html" %}
{% endblock %}

{% block content %}
<div class="mg-top-100">
    <div class="text-center mb-3">
        <span class="h3 fw-bold">Chồng mới</span>
    </div>
    <div class="row my-3">
        <div class="col-3">
        </div>
        <div class="col-6">
            <form action="" method="post" class="col-10 mx-auto px-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name">Tên chồng:</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                </div>
                {{ form.user }}
    
                <div class="mb-3">
                    <label for="id_study_duration">Thời gian ôn tập(phút):</label>
                    {{ form.study_duration }}
                    {% if form.study_duration.errors %}
                        {{ form.study_duration.errors }}
                    {% endif %}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn bg-primary w-25">Lưu</button>
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% endblock%}
