{% extends "public/base.html" %}

{% load static %}

{% block head %}
    <title>Flashcard</title>
{% endblock%}

{% block header %}
    {% include "public/header_logout.html" %}
{% endblock %}

{% block content %}    
<div style="margin-top: 100px;">
    <div class="position-fixed top-50 bottom-50 end-0">
        <a href="{% url 'cardgroups:create_group' %}" class="py-3 ps-3 pe-2 create-group fw-bold"><i class="fas fa-plus"></i> Tạo Group</a>
    </div>
    <!-- <div class="container"> -->
        <div class="text-center mb-3">
            <span class="h3 fw-bold">Dashboard</span>
            <form method="get">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control">
                    <span class="input-group-text">Tìm</span>
                </div>
            </form>
        </div>
        {% if cardgroup_list.exists is False %}
            <div class="text-center">
                <span>Bạn hiện không có chồng card nào.</span>
            </div>
        {% else %}
            <div class="row row-cols-2" style="margin: 0 150px 0 150px;">
                {% for cardgroup in cardgroup_list %}
                    <div class="col mb-4">
                        <div class="card card-group">
                            <div class="card-body">
                                <table class="table border-dark">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                <h5 class="card-title">{{ cardgroup.name }}</h5>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Số card:</td>
                                            <td class="text-end">{{ cardgroup.card_count }}</td>
                                        </tr>
                                        <tr>
                                            <td>Số lần học:</td>
                                            <td class="text-end">{{ cardgroup.study_count }}</td>
                                        </tr>
                                        <tr>
                                            <td>Lần học gần nhất:</td>
                                            <td class="text-end">{{ cardgroup.last_study_at|date:'d-m-Y H:i' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary w-50">Chi tiết</a>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col mb-4">
                    <div class="card card-group">
                        <div class="card-body">
                            <table class="table border-dark">
                                <thead>
                                    <tr>
                                    <th colspan="2">
                                        <h5 class="card-title">tieng phap</h5>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Số card:</td>
                                        <td class="text-end">34</td>
                                    </tr>
                                    <tr>
                                        <td>Số lần học:</td>
                                        <td class="text-end">21</td>
                                    </tr>
                                    <tr>
                                        <td>Lần học gần nhất:</td>
                                        <td class="text-end">10/10/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary w-50">Chi tiết</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card card-group">
                        <div class="card-body">
                            <table class="table border-dark">
                                <thead>
                                    <tr>
                                    <th colspan="2">
                                        <h5 class="card-title">tieng Lao</h5>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Số card:</td>
                                        <td class="text-end">34</td>
                                    </tr>
                                    <tr>
                                        <td>Số lần học:</td>
                                        <td class="text-end">21</td>
                                    </tr>
                                    <tr>
                                        <td>Lần học gần nhất:</td>
                                        <td class="text-end">10/10/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary w-50">Chi tiết</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card card-group">
                        <div class="card-body">
                            <table class="table border-dark">
                                <thead>
                                    <tr>
                                    <th colspan="2">
                                        <h5 class="card-title">Tieng Nga</h5>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Số card:</td>
                                        <td class="text-end">34</td>
                                    </tr>
                                    <tr>
                                        <td>Số lần học:</td>
                                        <td class="text-end">21</td>
                                    </tr>
                                    <tr>
                                        <td>Lần học gần nhất:</td>
                                        <td class="text-end">10/10/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary w-50">Chi tiết</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card card-group">
                        <div class="card-body">
                            <table class="table border-dark">
                                <thead>
                                    <tr>
                                    <th colspan="2">
                                        <h5 class="card-title">Lich su</h5>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Số card:</td>
                                        <td class="text-end">34</td>
                                    </tr>
                                    <tr>
                                        <td>Số lần học:</td>
                                        <td class="text-end">21</td>
                                    </tr>
                                    <tr>
                                        <td>Lần học gần nhất:</td>
                                        <td class="text-end">10/10/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary w-50">Chi tiết</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card card-group">
                        <div class="card-body">
                            <table class="table border-dark">
                                <thead>
                                    <tr>
                                    <th colspan="2">
                                        <h5 class="card-title">Toan</h5>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Số card:</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>Số lần học:</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>Lần học gần nhất:</td>
                                        <td>11/11/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary w-50">Chi tiết</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    <!-- </div> -->
</div> 
    <script src="{% static 'cardgroups/js/card_group.js' %}"></script>
{% endblock%}
