{% extends "public/base.html" %}

{% load static %}

{% block head %}
<title>Luyện tập</title>
{% endblock%}

{% block header %}
{% include "public/header_logout.html" %}
{% endblock %}

{% block content %}
<div class="mg-top-100">
    <div class="text-center mb-3">
        <span class="h3 fw-bold">Chồng card: {{ cardgroup.name }}</span>
        <br>
        <span>Ôn tập đến: {{ expiredate|date:'d-m-Y H:i:s' }}</span>
    </div>

    <div id="card_content" class="container">
        {{ html }}
    </div>
    <span class="d-hidden" id="study-end-url" data-url="{% url 'cardgroups:end_study' cardgroup.pk %}"></span>
    <span class="d-hidden" id="check-card-url" data-url="{% url 'cardgroups:check_result' cardgroup.pk %}"></span>
    <span class="d-hidden" id="next-card-url" data-url="{% url 'cardgroups:continues_studying' cardgroup.pk %}"></span>
</div>
{% endblock%}
