body {
    background-color: #e7e7e7;
    /* font-family: din-round,sans-serif; */
    font-family: 'Baloo Tamma 2'
}

.login_form {
    background: #d8d8d8;
    padding-bottom: 40px;
}

.avatar-center {
    margin: auto;
}

.errorlist {
    color: red;
    font-size: 15px;
}


.card-group {
    margin: 5px;
    background: #00b4d463;
    box-shadow: 3px 3px #ffeb3b, 6px 6px #4caf50, 9px 9px #ff57229e, 12px 12px 5px #2f2f2f;
}
.create-group {
    background: #e8b314;
    text-decoration: none;
    color: #0000af;
    border-radius: 20px 0px 0px 20px;
    opacity: 70%;
}

.btn-edit:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}


.btn-edit {
    box-sizing: content-box;
    width: 1em;
    font-size: 18px;
    height: 1em;
    color: #000;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

#edit-group, #group-details {
    background: #00bcd457;
}


.bg-card-group {
    background: #00bcd4;
}

.bg-input-group {
    background: #ffffff99;
}

.bg-input-group:focus {
    background: #ffffff99;
}

.display-none {
    display: none;
}

#id_user {
    display: none;
}

.fs-page-card {
    font-size: 15px;
}

.bg-list-card {
    background: #19b9ce;
}

.background-noname {
    background: #ffffffed;
}

.background-card-header {
    background: #d4cebc;
}

.mg-top-100 {
    margin-top: 100px;
}


.btn-green:hover {
    background-color: #2e8b0f;
    color: #fff;
    border-color: #2e8b0f;
}

.btn-green {
    color: #fff;
    border-color: #36a212;
    background-color: #36a212;
}


.btn-orange:hover {
    color: #fff;
    border-color: #ce7b16;
    background-color: #ce7b16;
}

.btn-orange {
    color: #fff;
    border-color: #e28715;
    background-color: #e28715;
}


.fieldset {
    padding: revert;
    border: 1px solid;
}


.img-width {
    width: 230px;
}


.mg-x-150 {
    margin: 0 150px 0 150px;
}


.w-search {
    width: 350px;
}


.z-index-1 {
    z-index: 1;
}


#id_new_password {
    margin: auto;
}


.btn-width {
    width: 25%;
}


#end-study, #next-card, #check-result {
    width: 100%;
}

.btn-create-group {
    bottom: 10%;
}

.limit {
    width: 70px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .img-width {
        width: 150px;
    }

    .w-search {
        width: auto;
    }

    .row-cols-md-2 {
        margin: 0px;
    }

    .create-group {
        font-size: 15px;
    }

    #liveToast {
        width: auto;
    }

    #end-study, #next-card, #check-result {
        width: 30%;
    }

    .btn-width {
        width: 100px;
    }

}


@media only screen and (min-width: 768px) {
/* For tablets: */

}
