body {
    background-color: #d8d8d8;
    font-family: din-round,sans-serif;
}

.login_form {
    background: #d8d8d8;
    padding-bottom: 40px;
}

.avatar-center {
    margin: auto;
}

.errorlist {
    color: red;
    font-size: 15px;
}


.card-group {
    margin: 5px;
    background: #00b4d463;
    box-shadow: 3px 3px #ffeb3b, 6px 6px #4caf50, 9px 9px #ff57229e, 12px 12px 5px #2f2f2f;
}
.create-group {
    background: #8500ffeb;
    text-decoration: none;
    color: #fffcfc;
    border-radius: 20px 0px 0px 20px;
}

.btn-edit:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}


.btn-edit {
    box-sizing: content-box;
    width: 1em;
    font-size: 18px;
    height: 1em;
    color: #000;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

#edit-group, #group-details {
    background: #00bcd457;
}


.bg-card-group {
    background: #00bcd4;
}

.bg-input-group {
    background: #ffffff99;
}

.bg-input-group:focus {
    background: #ffffff99;
}

.display-none {
    display: none;
}

#id_user {
    display: none;
}

.fs-page-card {
    font-size: 15px;
}

.bg-list-card {
    background: #19b9ce;
}

.background-noname {
    background: #ffffffed;
}

.background-card-header {
    background: #d4cebc;
}
