{% extends "users/base.html" %}
{% load static %}

{% block head %}
    <title>Login</title>
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center text-center login_form">
        <form method="post">
            {% csrf_token  %}
            <div>
                <img src="{% static 'users/images/FlashCard_xam.gif' %}" width="200px" alt="">
            </div>
            <div class="mb-3 row">
                <label for="staticUserOrEmail" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    {{ form.username}}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    {{ form.password}}
                </div>
            </div>
            <div class="mb-3 row">
                <input class="btn btn-primary col-sm-12" type="submit" value="Đăng nhập">
            </div>
        </form>
    </div>
{% endblock %}
