{% extends 'public/base.html' %}

{% load static %}

{% block head %}
    <title>Quên mật khẩu</title>
{% endblock %}

{% block header %}
    {% include "public/header_login.html" %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div>
        <span>Chúng tôi đã gửi thông tin vào email của bạn.</span>
        <br>
        <span>Vui lòng kiểm tra email và làm theo hướng dẫn để đặt lại mật khẩu.</span>
        <br>
        <br>
        <span>Trở lại trang <a href="{% url 'users:login' %}">đăng nhập</a></span>
    </div>
   
</div>

{% endblock %}
