{% extends "users/base.html" %}

{% load static %}

{% block head %}
    <title>Flash Card</title>
{% endblock%}

{% block header %}
    <div class="d-flex justify-content-between mb-3" style="background: #004aad;">
        <div class="my-auto">
            <img src="{% static 'users/images/Flashcard.png' %}" alt="" width="230px">
        </div>
        <div class="p-3">
            {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" class="rounded-circle me-3" width="38px" height="38px" alt="">
            {% else %}
                <img src="{% static 'users/images/FlashCard.png' %}" class="rounded-circle me-3" width="38px" height="38px" alt="">
            {% endif %}
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#LogoutModal">
                <div class="clearfix">
                    <div class="float-start me-1">
                        <i class="fas fa-sign-out-alt fs-5"></i>
                    </div>
                    <div class="float-end">
                        <span>Đăng xuất</span>
                    </div>
                </div>
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">oke</button>
    </form>
{% endblock%}
