{% extends 'public/base.html' %}

{% load static %}

{% block head %}
<title>Quên mật khẩu</title>
{% endblock %}

{% block header %}
{% include "public/header_login.html" %}
{% endblock %}

{% block content %}
<div class="row px-4">
    <form method="POST" class="col-sm-12 col-md-4 mx-auto text-center">
        {% csrf_token %}
        <span class="h3 fw-bold">Quên mật khẩu</span>
        <div class="mt-4 text-start mb-3">
            <label for="id_email my-2" class="form-label">Email của bạn:</label>
            <input type="email" class="form-control" name="email" autocomplete="email"
                maxlength="254" required id="id_email">
        </div>
        <button class="btn btn-primary w-25" type="submit">Gửi</button>
    </form>
</div>

{% endblock %}
