{% extends "public/base.html" %}

{% load static %}

{% block head %}
    <title>Flash Card</title>
{% endblock%}

{% block header %}
    {% include "public/header_logout.html" %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center text-center">
    <form method="POST">
      {% csrf_token %}
      <span class="h3 fw-bold">Thay đổi mật khẩu</span>
        <div class="mt-4 text-start" style="width: 300px;">
            <label for="id_current_password" class="form-label">Mật khẩu hiện tại:</label>
            <p>
                {{ form.current_password }}
                {% if form.current_password.errors %}
                    {{ form.current_password.errors }}
                {% endif %}
            </p>
        </div>
        <div class="mt-4 text-start" style="width: 300px;">
            <label for="id__password" class="form-label">Mật khẩu mới:</label>
            <p>
              {{ form.password }}
              {% if form.password.errors %}
                    {{ form.password.errors }}
                {% endif %}
            </p>
        </div>
        <button class="btn btn-primary px-4" type="submit">Lưu</button>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    </form>
  </div>

    {% if messages %}
        {% for message in messages %}
        <div class="position-fixed bottom-0 end-0 p-3 messages" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header" style="background: #004aad;">
                    <img src="{% static 'users/images/Flashcard.png' %}" class="rounded me-2" width="100px" alt="">
                    <strong class="me-auto text-white fw-normal"></strong>
                    <small class="text-white">Vừa xong</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

  <script src="{% static 'users/js/pass_change.js' %}" ></script>
    
{% endblock%}
