{% extends 'users/base.html' %}

{% load static %}

{% block head %}
    <title>Quên mật khẩu</title>
{% endblock %}

{% block header %}
    {% include "users/header_login.html" %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center text-center">
    <form method="POST">
        {% csrf_token %}
        <span class="h3 fw-bold">Quên mật khẩu</span>
        <div class="mt-4 text-start">
            <label for="id_email my-2" class="form-label">Email của bạn:</label>
            <p>
                <input type="email" class="form-control" style="width: 300px;" name="email" autocomplete="email" maxlength="254" required id="id_email">
                <!-- {{ form.email }} -->
            </p>
        </div>
        <button class="btn btn-primary px-4" type="submit">Gửi</button>
    </form>
</div>

{% endblock %}
