<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu</title>
</head>
<body>
    <span>Ai đó đã yêu cầu đặt lại mật khẩu cho {{ email }} này.</span>
<br>
<span>
Nếu là bạn hãy vui lòng truy cập đường link dưới đây để đổi mật khẩu:
</span>
<a href="{{ protocol}}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
    link
</a>
</body>
</html>
