{% extends "public/base.html" %}

{% load static %}

{% block head %}
<title>Flash Card</title>
{% endblock%}

{% block header %}
{% include "public/header_logout.html" %}
{% endblock %}

{% block content %}
<div class="mg-top-100">
    <div class="row px-4">
        <form method="POST" class="col-4 mx-auto text-center">
            {% csrf_token %}
            <span class="h3 fw-bold">Thay đổi mật khẩu</span>
            <div class="mt-4 text-start">
                <label for="id_current_password" class="form-label">Mật khẩu hiện tại:</label>
                {{ form.current_password }}
                {% if form.current_password.errors %}
                {{ form.current_password.errors }}
                {% endif %}
            </div>
            <div class="mt-4 text-start mb-3">
                <label for="id__password" class="form-label">Mật khẩu mới:</label>
                {{ form.password }}
                {% if form.password.errors %}
                {{ form.password.errors }}
                {% endif %}
            </div>
            <button class="btn btn-primary w-25" type="submit">Lưu</button>
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
        </form>
    </div>
</div>

<script src="{% static 'users/js/pass_change.js' %}"></script>

{% endblock%}
