{% extends 'public/base.html' %}

{% load static %}

{% block head %}
<title>Quên mật khẩu</title>
{% endblock %}

{% block header %}
{% include "public/header_login.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <form method="POST" class="col-sm-12 col-md-4 mx-auto px-4">
        {% csrf_token %}
        <div class="text-center">
            <span class="h3 fw-bold">Đặt lại mật khẩu</span>
            <div class="mt-4 mb-3 text-start">
                <!-- <label for="id_new_password" class="form-label">Mật khẩu mới:</label> -->
                {{ form.new_password.label_tag }}
                {{ form.new_password }}
                {% if form.new_password.errors %}
                {{ form.new_password.errors }}
                {% endif %}
            </div>
            <button class="btn btn-primary w-25" type="submit">Gửi</button>
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}
