{% extends "users/base.html" %}

{% load static %}

{% block head %}
    <title>Flash Card</title>
{% endblock%}

{% block header %}
    {% include "users/header_logout.html" %}
{% endblock %}

{% block content %}
 {% if messages %}
    {% for message in messages %}
    <div class="position-fixed bottom-0 end-0 p-3 messages" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header" style="background: #004aad;">
                <img src="{% static 'users/images/Flashcard.png' %}" class="rounded me-2" width="100px" alt="">
                <strong class="me-auto text-white fw-normal"></strong>
                <small class="text-white">Vừa xong</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

<script src="{% static 'users/js/dashboard.js' %}"></script>

{% endblock%}
