body {
    background-color: #d8d8d8;
    font-family: din-round,sans-serif;
}

.login_form {
    background: #d8d8d8;
    padding-bottom: 40px;
}

.avatar-center {
    margin: auto;
}

.errorlist {
    color: red;
    font-size: 15px;
}
